  <header class="bg-black row-span-1 col-span-12 flex">
    <div class="grid grid-rows-3 grid-cols-12 w-screen h-1/8">
      <img src="assets/img/logo.png" alt="logo"class="h-8 col-start-2 row-start-2">
      <h1 class="font-bold text-white grid col-start-4 row-start-2 col-span-6">PANEL DE ADMINISTRADOR</h1>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="grid row-start-2 col-start-12 "><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" /></svg>
      <h1 class="text-white grid row-start-2 col-start-11 col-end-12">Cerrar Sesion</h1>
    </div>
  </header>
  